body {
  font-family: $default-font;
}

row {
  @extend .row;
}

.container-xl {
  padding: 70px 40px;
  font-size: 15px;
}

.pointer {
  cursor: pointer;
}

.transparent {
  background-color: transparent;
}

@include media-breakpoint-up(md) {
  .container-xl {
    padding: 105px 54px;
    max-width: 1280px;
    font-size: 20px;
  }
}
